[submodule "extern/doxygen-awesome-css"]
	path = extern/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest
	branch = v1.12.x
[submodule "extern/test-data"]
	path = extern/test-data
	url = https://github.com/NTIA/p528-test-data.git
	branch = AddData
